<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cards</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>Examples</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-img src="https://via.placeholder.com/350x150.png/3399CC/000/?text=Cards"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Pin detail</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Links</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Link Item 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Link Item 4</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat>
    <ion-card-header>
      <ion-card-title color="primary">Links</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Link Item 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Link Item 4</ion-label>
    </ion-item>
  </ion-card>

  <ion-card flat>
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat color="light">
    <ion-card-header>
      <ion-card-title>Links</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Link Item 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Link Item 4</ion-label>
    </ion-item>
  </ion-card>

  <ion-card flat color="light">
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat color="light" bordered>
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat color="medium" bordered>
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat color="secondary">
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat color="primary">
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-card flat color="warning">
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat color="danger">
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat color="success">
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat color="dark">
    <ion-icon name="md-information-circle-outline" slot="start"></ion-icon>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card flat bordered color="light">
    <ion-card-header>
      <ion-card-title>Form</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
      <ion-item>
        <ion-label>Name <span>*</span></ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lastname <span>*</span></ion-label>
        <ion-input></ion-input>
        <ion-icon name="md-person"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Option</ion-label>
        <ion-select>
          <ion-select-option>Option 1</ion-select-option>
          <ion-select-option>Option 2</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>
