:root {
  --custom-primary-color: #de240b;
  --custom-dark-color: #222428;
  --custom-medium-dark-color: #4e4e4e;
  --custom-medium-color: #838383;
  --custom-medium-light-color: #c5c5c5;
  --custom-light-color: #fff;
  .ion-color-white {
    --ion-color-base: #ffffff;
    --ion-color-base-rgb: 255,255,255;
    --ion-color-contrast: #4e4e4e;
    --ion-color-contrast-rgb: 34,36,40;
    --ion-color-shade: #c5c5c5;
    --ion-color-tint: #c5c5c5;
  }
  //
  --ion-color-base: var(--custom-light-color);
  --ion-text-color: var(--custom-medium-dark-color);
  // Custom
  --content-bg: var(--custom-light-color);
  --content-padding: 18px;
  --input-color: var(--custom-medium-light-color);
  --input-bg-color: var(--content-bg);
  --input-focus-color: var(--custom-medium-dark-color);
  --input-error-color: var(--custom-primary-color);
}

@import 'scss/ionic-variables.scss';
@import 'scss/header.scss';
@import 'scss/footer.scss';
@import 'scss/content.scss';
@import 'scss/forms.scss';
@import 'scss/cards.scss';
@import 'scss/grids.scss';
@import 'scss/dialogs.scss';
@import 'scss/angular-calendar.scss';
