.navbar-default .navbar-brand {
  text-decoration: none;
  font-size: 16px;
}

.container-fluid.main::before {
  background-position-x: 16px !important;
  background: #d81e05 url("./../compodoc/compodoc-assets/logo.png") center no-repeat;
  height: 70px;
  width: 100%;
}

.menu ul.list li a[data-type="chapter-link"],
.menu ul.list li.chapter .simple {
  color: #525252;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  color: #292e31;
  font-weight: normal;
}

.content {
  top: 70px;
  height: calc(100% - 70px);
  color: #4c555a;
}

a {
  color: #d81e05;
}
a:hover {
  color: #d81e05;
}

.menu ul.list li:nth-child(2) {
  margin-top: 0;
}

.menu ul.list li.title a {
  color: #d81e05;
  text-decoration: none;
  font-size: 16px;
}

.menu ul.list li a {
  text-decoration: none;
}
.menu ul.list li a.active {
  color: #d81e05;
  font-weight: bold;
}

code {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 5px;
  background: #f0f2f1;
  border-radius: 3px;
  color: #b93d6a;
  font-size: 13px;
  line-height: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

pre {
  margin: 0;
  padding: 12px 12px;
  background: rgba(238, 238, 238, 0.35);
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.modifier-icon {
  color: #d81e05 !important;
}

.modifier-icon.method {
  background: transparent;
  font-size: inherit;
}

.modifier-icon.method::before {
  content: "\f023";
}

.content.additional-page {

}
