<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Theming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2>Ionic Variable Colors</h2>
  <div>

    <h4>Main</h4>

    <ion-item>
      <ion-icon color="primary" name="square" slot="start"></ion-icon>
      <ion-label>primary</ion-label>
      <code slot="end">#d81e05</code>
    </ion-item>
    <ion-item>
      <ion-icon color="secondary" name="square" slot="start"></ion-icon>
      <ion-label>secondary</ion-label>
      <code slot="end">#03657e</code>
    </ion-item>
    <ion-item>
      <ion-icon color="tertiary" name="square" slot="start"></ion-icon>
      <ion-label>tertiary</ion-label>
      <code slot="end">#3880ff</code>
    </ion-item>

    <br>
    <h4>Status</h4>
  
    <ion-item>
      <ion-icon color="success" name="square" slot="start"></ion-icon>
      <ion-label>success</ion-label>
      <code slot="end">#8eb61f</code>
    </ion-item>
    <ion-item>
      <ion-icon color="warning" name="square" slot="start"></ion-icon>
      <ion-label>warning</ion-label>
      <code slot="end">#f0db76</code>
    </ion-item>
    <ion-item>
      <ion-icon color="danger" name="square" slot="start"></ion-icon>
      <ion-label>danger</ion-label>
      <code slot="end">#d81e05</code>
    </ion-item>

    <br>
    <h4>Grayscale</h4>

    <ion-item>
      <ion-icon color="dark" name="square" slot="start"></ion-icon>
      <ion-label>dark</ion-label>
      <code slot="end">#3d3d3d</code>
    </ion-item>
    <ion-item>
      <ion-icon color="semi-dark" name="square" slot="start"></ion-icon>
      <ion-label>semi-dark</ion-label>
      <code slot="end">#4C4C4C</code>
    </ion-item>
    <ion-item>
      <ion-icon color="medium-dark" name="square" slot="start"></ion-icon>
      <ion-label>medium-dark</ion-label>
      <code slot="end">#707070</code>
    </ion-item>
    <ion-item>
      <ion-icon color="medium" name="square" slot="start"></ion-icon>
      <ion-label>medium</ion-label>
      <code slot="end">#919191</code>
    </ion-item>
    <ion-item>
      <ion-icon color="medium-light" name="square" slot="start"></ion-icon>
      <ion-label>medium-light</ion-label>
      <code slot="end">#d1d1d1</code>
    </ion-item>
    <ion-item>
      <ion-icon color="semi-light" name="square" slot="start"></ion-icon>
      <ion-label>semi-light</ion-label>
      <code slot="end">#e2e2e2</code>
    </ion-item>
    <ion-item>
      <ion-icon color="light" name="square" slot="start"></ion-icon>
      <ion-label>light</ion-label>
      <code slot="end">#f0f0f0</code>
    </ion-item>
  </div>

</ion-content>