<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <h2>Basic</h2>
    <ion-button>Default</ion-button>
    <ion-button color="secondary">Secondary</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>

    <hr>
  
    <h2>Outline</h2>
    <ion-button fill="outline">Default</ion-button>
    <ion-button fill="outline" color="secondary">Secondary</ion-button>
    <ion-button fill="outline" color="medium">Medium</ion-button>

    <hr>
  
    <h2>Clear</h2>
    <ion-button fill="clear">Default</ion-button>
    <ion-button fill="clear" color="secondary">Secondary</ion-button>
    <ion-button fill="clear" color="medium">Medium</ion-button>

    <hr>
  
    <h2>Round</h2>
    <ion-button shape="round">Default</ion-button>
    <ion-button shape="round" color="secondary">Secondary</ion-button>
  
    <hr>
  
    <h2>Block</h2>
    <ion-button expand="block">Block</ion-button>

    <hr>
  
    <h2>Icons</h2>
    <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>Left Icon
    </ion-button>
    <ion-button>
      Right Icon<ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
    
    <hr>
  
    <h2>Sizes</h2>
    <ion-button size="large">Large</ion-button>
    <ion-button>Default</ion-button>
    <ion-button size="small">Small</ion-button>
  
    <hr>
  
    <h2>Fab button</h2>

    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  
    <hr>
  
    <h2>Combinations</h2>
    <ion-button expand="block" fill="outline" color="medium">Outline Block Medium</ion-button>
    <ion-button shape="round" fill="outline"><ion-icon slot="start" name="star"></ion-icon>Outline Round Icon</ion-button>

</ion-content>