<ion-app>
 <ion-split-pane>
    <!-- side menu -->
    <ion-menu>
      <ion-header no-border>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content padding>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item [routerLink]="['/home']">
              <ion-icon slot="start" color="medium" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <br>
            <ion-list-header>
              <ion-label>Examples</ion-label>
            </ion-list-header>
            <ion-item [routerLink]="['/forms']">
              <ion-icon slot="start" color="medium" name="checkbox-outline"></ion-icon>
              <ion-label>Forms</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/cards']">
              <ion-icon slot="start" color="medium" name="apps"></ion-icon>
              <ion-label>Cards</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/grids']">
              <ion-icon slot="start" color="medium" name="grid"></ion-icon>
              <ion-label>Grids and layouts</ion-label>
            </ion-item>  
            <ion-item [routerLink]="['/toolbars']">
              <ion-icon slot="start" color="medium" name="construct"></ion-icon>
              <ion-label>Toolbars</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/dialogs']">
              <ion-icon slot="start" color="medium" name="open"></ion-icon>
              <ion-label>Dialogs</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/calendar']">
              <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
              <ion-label>Calendar</ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>

    <!-- main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>

