ion-content[custom-palette] {
  /*
   *  floating-label
   */
  ion-item[custom-palette-style="floating-label"] {
    min-height: 80px;
    margin: 5px 0;
    &:after {
      content: ' ';
      position: absolute;
      z-index: 1;
      left: 0px;
      top: 0px;
      height: calc(100% - 22px);
      width: calc(100% - 2px);
      border: 1px solid var(--input-color);
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      pointer-events: none;
    }
    /*
     *  ION-LABEL
     */
    ion-label {
      z-index: 9;
      padding-left: 10px;
      margin-top: 2px !important;
      margin-left: 6px !important;
      pointer-events: none;
      color: var(--custom-medium-color) !important;
      opacity: 1 !important;
      & span {
        color: var(--input-error-color) !important;
      }
    }
    ion-label[position="floating"]::first-line {
      content: ' ';
      position: absolute;
      background: var(--ion-color-base);
      box-shadow: 0px 0px 0px 10px var(--ion-color-base);
    }
    &.item-has-value ion-label,
    &.item-has-focus ion-label {
      transform: translateZ(0) translateX(2px) scale(.8) !important;
    }
    /*
     *  ION-INPUT
     */
    ion-input input {
      margin-left: 16px;
      margin-right: 16px;
      position: absolute;
      top: 6px;
      padding: 0 0 12px 0 !important;
      width: calc(100% - 32px);
    }
    /*
     *  ION-SELECT
     */
    ion-select {
      padding-left: 16px;
      margin-top: -2px;
    }
    /*
     *  ION-DATETIME
     */
    ion-datetime {
      padding-left: 16px !important;
      margin-top: -2px;
    }
    /*
     *  ION-TEXTAREA
     */
    ion-textarea {
      margin-top: 6px;
      margin-bottom: 26px !important;
      textarea {
        padding: 0 16px !important;
        min-height: calc(20px * 4);
      }
    }
    /*
     *  item-has-focus
     */
    &.item-has-focus {
      &:after {
        border-color: var(--input-focus-color) !important;
        opacity: .7;
      }
      ion-label {
        color: var(--input-focus-color) !important;
      }
    }
    /*
     *  item-has-error
     */
    &.item-has-error {
      &:after {
        border-color: var(--input-error-color) !important;
        opacity: 1;
      }
      ion-label {
        color: var(--input-error-color) !important;
      }
      & + .item-error-message {
        display: block;
        color: var(--input-error-color) !important;
        font-size: 12px;
        margin: -10px 16px 20px 16px;
      }
    }
    & + .item-error-message {
      display: none;
    }
  }
  /*
   *  static-label
   */
  ion-item[custom-palette-style="static-label"] {
    padding: 0px 16px 10px 16px;
    ion-label {
      color: var(--custom-medium-dark-color) !important;
    }
    ion-toggle {
      z-index: 9999;
    }
    ion-checkbox {
      &[slot="end"] {
        margin-right: 0px;
      }
    }
    & + ion-item[custom-palette-style="static-label"] {
      margin-top: -16px;
    }
  }
  ion-radio-group[custom-palette-style="static-label"] {
    padding: 0px 16px 10px 16px;
    ion-label {
      color: var(--custom-medium-dark-color) !important;
    }
    & > ion-label {
      padding: 20px 0 15px 0 !important;
      display: inline-block;
    }
  }
  /*
   * INPUT ICONS
   */
  ion-item[custom-palette-style] {
    &.item-has-icon {
      ion-input, ion-textarea, ion-datetime {
        padding-right: 34px !important;
      }
      ion-input input {
        width: calc(100% - 32px - 34px);
      }
    }
    ion-icon {
      display: none !important;
    }
    ion-input, ion-textarea, ion-datetime {
      & + ion-icon {
        display: block !important;
        position: absolute;
        top: 26px;
        right: 16px;
        font-size: 26px;
        color: var(--custom-medium-color);
        opacity: 0.7;  
      }
    }
    &.item-has-focus ion-icon {
      color: var(--input-focus-color);
    }
    &.item-has-error ion-icon {
      color: var(--custom-error-color);
    }
  }
}