<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Grids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-img src="https://via.placeholder.com/350x100.png/17B123/000/?text=Image"></ion-img>

  <ion-grid margin>
    <ion-row>
      <ion-col>r1 c1</ion-col>
      <ion-col>r1 c2</ion-col>
      <ion-col>r1 c3</ion-col>
      <ion-col>r1 c4</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>r2 c1</ion-col>
      <ion-col>r2 c2</ion-col>
      <ion-col>r2 c3</ion-col>
      <ion-col>r2 c4</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>r3 c1</ion-col>
      <ion-col>r3 c2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>r4 c1</ion-col>
    </ion-row>
  </ion-grid>

  <ion-card flat bordered margin padding color="white">
    <ion-grid color="white" padding>
      <ion-row>
        <ion-col>
          <h1>Form</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Name <span>*</span></ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Lastname <span>*</span></ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Option</ion-label>
            <ion-select>
              <ion-select-option>Option 1</ion-select-option>
              <ion-select-option>Option 2</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <br><br>

  <ion-card flat rect bordered-top bordered-bottom color="white">
    <ion-radio-group custom-palette-radio-group>
      <ion-item>
        <div class="icon"><ion-icon name="git-compare"></ion-icon></div>
        <div class="text">
          <div class="title">Radio button option 1</div>
          <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in dui venenatis</div>
        </div>
        <ion-radio slot="end" value="radio1" checked></ion-radio>
      </ion-item>
      <ion-item>
        <div class="icon"><img src="https://via.placeholder.com/150x150.png/FFF/000/?text=2"></div>
        <div class="text">
          <div class="title">Radio button option 2</div>
          <div class="desc">Lorem ipsum dolor sit amet</div>
        </div>
        <ion-radio slot="end" value="radio2"></ion-radio>
      </ion-item>
      <ion-item>
        <div class="icon"><img src="https://via.placeholder.com/150x150.png/FFF/000/?text=3"></div>
        <div class="text">
          <div class="title">Radio button option 3</div>
        </div>
        <ion-radio slot="end" value="radio3"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card>

  <br><br>

  <ion-radio-group custom-palette-radio-group>
    <ion-item bordered margin color="white" lines="none">
      <div class="icon"><ion-icon name="git-compare"></ion-icon></div>
      <div class="text">
        <div class="title">Option 1</div>
        <div class="desc">Lorem ipsum dolor sit amet</div>
      </div>
      <ion-radio slot="end" value="radio1" checked></ion-radio>
    </ion-item>
    <ion-item bordered margin color="white" lines="none">
      <div class="icon"><ion-icon name="git-network"></ion-icon></div>
      <div class="text">
        <div class="title">Option 2</div>
        <div class="desc">Lorem ipsum dolor sit amet</div>
      </div>
      <ion-radio slot="end" value="radio2"></ion-radio>
    </ion-item>
    <ion-item bordered margin color="white" lines="none">
      <div class="icon"><ion-icon name="git-branch"></ion-icon></div>
      <div class="text">
        <div class="title">Option 3</div>
        <div class="desc">Lorem ipsum dolor sit amet</div>
      </div>
      <ion-radio slot="end" value="radio3"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <br><br>

</ion-content>
