<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Form inputs</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-buttons>
      <ion-progress-bar color="medium" value="0.25"></ion-progress-bar>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input value="Alex"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Lastname</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Option</ion-label>
    <ion-select>
      <ion-select-option>Option 1</ion-select-option>
      <ion-select-option>Option 2</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="MM/YYYY" picker-format="MMMM YYYY"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>  

  <ion-item>
    <ion-label>Disabled input</ion-label>
    <ion-input value="Disabled" disabled></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Readonly input</ion-label>
    <ion-input value="Readonly" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Summary</ion-label>
    <ion-textarea disabled readonly value="Ionic enables developers to build performant, high-quality mobile apps.">
    </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Notes</ion-label>
    <ion-textarea rows="9" cols="20"></ion-textarea>
  </ion-item>
  
</ion-content>
