<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item custom-palette>
    <ion-label>Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item custom-palette>
    <ion-label>Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item custom-palette>
    <ion-label>Users</ion-label>
    <ion-select>
      <ion-select-option>Option 1</ion-select-option>
      <ion-select-option>Option 2</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>
